/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	padding: 20px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*mon CSS*/
/* shift-commande-slash */

/*header {
display: flex;
justify-content: center;
background-image: url("../images/bleu.jpg");
background-repeat: no-repeat;
background-size: auto;
background-position: center;
height: 200px;
margin-bottom: 10px;
border-radius: 50%;
} */

header {
	margin: 10px;
}


body {
  font-family: 'Nunito Sans', sans-serif;
    background-color: #ece2d0;
}

h1 {
	position: absolute;
	top:400px;
	left: 400px;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 80px;
	justify-content: center;

}

.titre-page,p {
	font-size: 20px;
}

h2 {
	font-size: 25px;
}

h3 {
font-size: 20px;
}

.titre-hotel, h2, p {
  text-align: center;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
}

nav ul {
   padding-left: 100px;
   display:flex;                  /*pour mettre côte à côte la liste*/
   justify-content: space-around;  /*pour placer le menu: u centre, a gauche,...*/
	 margin-left: 2%;
	 margin-right: 2%;
   background-color: #ece2d6;
   border-width: medium;
   border-style:solid;
   border-color: black;
   border-radius: 10px;
   padding: 0px;

}

nav ul li {
  margin:auto;
  font-size: 16px;
  padding:20px;
}

a {
	color: black;
}
.picture {
	display: flex;
	justify-content: center;
	margin: 5%;

}

.border-chambre {
		border-width:1px;
		border-style:solid;
		border-color:black;
		width: 100%;
		margin-bottom: 1%;
		margin-top: 3%;
}
/*.les-types-de-chambres p,.les-types-de-chambres h3, .les-types-de-chambres a  {
	text-align: left;
	margin: 0px;
}*/

.room-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
}


.detail-chambre {
	display: flex;
	justify-content: flex-end;
	padding:1px;
	width: 50%;
}

.detail-chambre ul li {
	padding:1px;
	list-style-type:disc;
}


.text-liste-chambre {
	display: flex;
}

.bouton-resa a {
	color: white;
}

.bouton-resa {
	color: white;
	background-color: grey;
	width: 105px;
	height: 33px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5%;

}

.services {
border: medium solid #6495ed;
border-collapse: collapse;
width: 50%;
}
th {
font-family: monospace;
border: thin solid #6495ed;
width: 50%;
padding: 5px;
background-color: #D0E3FA;
background-image: url(sky.jpg);
}
td {
font-family: sans-serif;
border: thin solid #6495ed;
width: 50%;
padding: 5px;
text-align: center;
background-color: #ffffff;
}
caption {
font-family: sans-serif;
}

                        /*input pas d'espace entre input et le crochet*/
input[type=text] {
background-color: grey;
}

#footer {
	display: flex;
	justify-content: space-around;
}

.icone {
	display:flex;
	justify-content: flex-end;
	justify-content: space-around;
	padding:10px;
	font-size: 180%;
}
